debug: true
daemon: true
update_interval: 5
restart_service_on_change: true

server: ldap://10.10.0.94
binddn: cn=bureau,ou=services,dc=example,dc=com
password: SomeSecretPassword
base: ou=config,dc=example,dc=com
host_specific_entries: true
override_hostname:
