vrrp_instance {{.InstanceName}} {
	state {{.State}}
	interface {{.Interface}}
	{{if .McastSrcIP}}mcast_src_ip {{.McastSrcIP}}{{end}}
	{{if .UnicastSrcIP}}unicast_src_ip {{.UnicastSrcIP}}
	unicast_peer {
		{{range .UnicastPeer}}{{.}}
		{{end -}}
	}{{end}}
	{{if .LVSSyncDaemonInterface}}lvs_sync_daemon_interface {{.LVSSyncDaemonInterface}}{{end}}
	virtual_router_id {{.VirtualRouterID}}
	priority {{.Priority}}
	{{if .AdvertInt}}advert_int {{.AdvertInt}}{{end}}
	{{if .SMTPAlert}}smtp_alert {{.SMTPAlert}}{{end}}
	authentication {
		auth_type {{.AuthType}}
		auth_pass {{.AuthPass}}
	}
	virtual_ipaddress {
		{{range .VirtualIPAddress}}{{.}}
	{{end -}}
	}
	{{if .VirtualIPAddressExcluded}}}virtual_ipaddress_excluded {
	  {{range .VirtualIPAddressExcluded}}{{.}}
		{{end -}}
	}{{end -}}
	{{if .NotifyMasterVRRPInstance}}notify_master {{.NotifyMasterVRRPInstance}}{{end -}}
	{{if .NotifyBackupVRRPInstance}}notify_backup {{.NotifyBackupVRRPInstance}}{{end -}}
	{{if .NotifyFaultVRRPInstance}}notify_fault {{.NotifyFaultVRRPInstance}}{{end}}
}
